*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conta{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.box-two{
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100px;
    font-size: 13px;
    margin-left: 300px;
    padding-top: 5px;
}
.box-two a{
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
.box{
    background-color: #434C58;
    height: 35px;
}


.boxing{
    height: 90px;
    background-color: white;
}
.boxing a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boxing hr{
    margin: 20px;
}
.kategor{
    display: flex;
}
.kategor ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    list-style-type: none;
    margin-left: 85px;
    margin-top: 30px;
    font-size: 17px;
    gap: 17px;
    color: #161C24;
}


.img img{
    padding-top: 20px;
}
.tel h2{
    padding-top: 28px;
    margin-left: 290px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #444E5A;
}
.tel i{
    color: #4295E4;
}
.icon{
    color: #444E5A;
    font-size: 22px;
    padding-top: 28px;
}
.icon i{
    margin-left: 25px;
}

.cardmain{

    display: flex;
}

.card-main-img img{
    margin-top: 40px;
    width: 450px;
    height: 550px;
}
.hh1{
    margin-top: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.card-mein-paragraph p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 450px;
    margin-top: 35px;
}
.card-mein-paragraph{
    margin-left: 50px;
}
 .card-mein-paragraph h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
 }
 .card-mein-paragraph span{
    margin-left: 25px;
    font-weight: 300;
    text-decoration: line-through;
 }
 .card-mein-paragraph button{
    width: 260px;
    height: 60px;
    font-size: 20px;
    background-color: #4295E4;
    color: white;
    margin-top: 30px;
    border: 2px solid #4295E4;
    cursor: pointer;
 }
 .loader{
    width: 350px;
    margin-left: 450px;
    margin-top: 70px;
 }