*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conta{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.box-two{
    display: flex;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100px;
    font-size: 13px;
    margin-left: 300px;
    padding-top: 5px;
}
.box-two a{
    margin-left: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
.box{
    background-color: #434C58;
    height: 35px;
}

.boxing{
    height: 90px;
    background-color: white;
}
.boxing hr{
    margin: 20px;
}
.kategor{
    display: flex;
}
.kategor ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    list-style-type: none;
    margin-left: 85px;
    margin-top: 30px;
    font-size: 17px;
    gap: 17px;
    color: #161C24;
}

.img img{
    padding-top: 20px;
}
.tel h2{
    padding-top: 28px;
    margin-left: 290px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #444E5A;
}
.tel i{
    color: #4295E4;
}
.icon{
    color: #444E5A;
    font-size: 22px;
    padding-top: 28px;
}
.icon i{
    margin-left: 25px;
}



/* main page */

.one-katalog h3{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.one-katalog h3 span{
    color: #434C58;
}
.one-katalog h1{
    margin-top: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.one-katalog h1 span{
    color: #434C58;
    font-size: 22px;
}

/* two kotolog */
.two-kotolog{
    margin-top: 30px;
    display: flex;
}

.two-kotolog button{
    margin-top: 35px;
    background-color: transparent;
    border: 1px solid #4295E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 290px;
    height: 50px;
    font-size: 20px;
}

.two-kotolog h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-left: 45px;
    margin-top: 50px;
}
.two-kotolog h2 i{
    color: rgb(249, 73, 73);
    font-weight: 300;
    font-size: 16px;
}

.two-kotolog select{
    margin-top: 39px;
    margin-left: 240px;
    width: 200px;
    height: 40px;
    border: 1px solid black;
}



/* three kotolog */

.three-kotolog-one-page{
    margin-top: 70px;
    width: 360px;
    height: 480px;
    border: 2px solid #434C58;
}
.three-kotolog-two-page{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}
.three-kotolog-one-page h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 20px;
}
.three-kotolog-one-page h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-weight: 400;
}
.three-kotolog-one-page span{
    margin-left: 130px;
    color: #4295E4;
}
.thre-kotolog-but button{
    margin-left: 20px;
    width: 90px;
    height: 43px;
    background-color: transparent;
    border: 1px solid #434C58;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.three-kotolog-one-page select{
    width: 245px;
    height: 40px;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    margin-top: 20px;
    border-bottom: 1px solid #434C58;
}



/*  */



.card{
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    background-color: transparent;
    width: 280px;
    border: 1px solid #434C58;
    height: 458px;
    margin-left: 20px;
}

.card img{
    width: 280px;
    height: 330px;
    margin-top: 0px;
}
.card h2{
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12px;
}
.opt{
    display: none;
}
.card h2 span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 300;

}
.card h3{
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 12px;
}
.loader {
    margin-left: 10px;
    width: 450px;
}
.star{
    padding-top: 20px;
    margin-left: 15px;
    display: flex;
    color: #F6AB3A;
}
.star i{
    padding-top: 3px;
}
.star p{
    color: #434C58;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}
.thre-p-block{
    width: 270px;
    border: 1px solid #434C58;
    background-color: white;
}
.thre-p-block h3{
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #434C58;
    font-size: 20px;
}

.thre-p-block h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 12px;

}
.thre-p-block h2 span{
    color: #444E5A;
    font-weight: 200;
    margin-left: 20px;
    text-decoration: line-through;
}

.thre-kotolog-df{
    display: flex;
}

.card-df{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
}
.df{
    display: flex;
}
.btn1{
    margin-top: 10px;
    display: block;
    font-size: 10px;
    width: 125px;
    height: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 15px;
    color: white;
}
.btn1 i{
    color: rgb(239, 98, 98);
}

.wring{
    display: flex;
}
.kichik-kard h1{
    margin-bottom: 70px;
    margin-top: 80px;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    width: 100px;
    height: 35px;
    background-color: white;
    border: 1px solid white;
    margin-top: 5px;
    margin-left: 15px;
}
.btn2 i{
    color: #4295E4;
}
.sale button{
    width: 80px;
    height: 35px;
    border: 1px solid white;
}
.salebtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: white;
    margin-top: 5px;
    margin-left: 100px;
}
.sale{
    position: absolute;
    display: flex;
}



/*  */


/*  */

 /*  */

 .for-page h1{
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .card-for-page-df{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
 }



 /*  */


 /*  */


 /*  */

 .fife-page-paragraph h1{
    margin-top: 170px;
    margin-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .fife-page-paragraph p{
    margin-top: 20px;
    width: 510px;
    color: #434C58;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .vb h3{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #161C24;
 }
 .vb h3 i{
    color: #4295E4;
 }
 .vebp{
    display: flex;
 }
 .fife-page-img img{
    margin-top: 90px;
    width: 510px;
    margin-left: 40px;
 }

 .fife-page{
    display: flex;
 }





 /*  */


 /*  */



 /*  */


 .seven-page{
    margin-top: 100px;
    display: flex;
 }
 .seven-page-img img{
    width: 500px;
 }
 .sven-page-paragraph h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 110px; 
 }
 .sven-page-paragraph p{
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    width: 500px;
 }


 /*  */

 /*  */


 /*  */

 .aight-page{
    text-align: center;
    margin-top: 80px;
    height: 300px;
    background-color:#F2F8FF;
 }
 .aight-paragraph h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-top: 50px;
 }

 .aight-paragraph p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-top: 20px;
    color: #434C58;
 }
 .aight-page-register{
    margin-top: 50px;
 }
 .aight-page-register input{
    width: 180px;
    height: 40px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 8px;
    background-color: #E9EFF6;
    color: #434C58;
    border: 1px solid #E9EFF6;
}
.aight-page-register button{
    width: 180px;
    height: 40px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 8px;
    background-color: #4295E4;
    color: white;
    border: 1px solid #4295E4;
}
.nine-page{
    background-color: #0D2436;
    height: 410px;
}
.foter-df{
    color: white;
    display: flex;
}
.one-b img{
    padding-top: 50px;
}
.iim{
    margin-top: 60px;
}
.two-b{
    padding-top: 50px;
    margin-left: 150px;
}
.two-b span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.two-b li{
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #E1E4E6;
    margin-top: 20px;
}
.ll p{
    padding-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
}